<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog Layout Example &ndash; Pure</title>
	{{{css}}}
	<script src="http://use.typekit.net/ajf8ggy.js"></script>
	<script>
		try { Typekit.load(); } catch (e) {}
	</script>
</head>
<body>

<div class="pure-g-r" id="layout">
	<div class="sidebar pure-u">
		<header class="header pure-u-1">
			<hgroup>
				<h1 class="brand-title">The Phrototype Blog</h1>
				<h2 class="brand-tagline">Creating a blog layout using Pure and Phrototype</h2>
			</hgroup>

			<nav class="nav">
				<ul class="nav-list">
					<li class="nav-item">
						<a class="pure-button" href="https://github.com/jumblesale/Phrototype">Phrototype</a>
					</li>
					<li class="nav-item">
						<a class="pure-button" href="http://purecss.io">Pure</a>
					</li>
					<li class="nav-item">
						<a class="pure-button" href="http://yuilibrary.com">YUI Library</a>
					</li>
				</ul>
			</nav>
		</header>
	</div>

	<div class="content pure-u-1">		
			{{{content}}}

		<footer class="footer">
			<div class="pure-menu pure-menu-horizontal pure-menu-open">
				<ul>
					<li><a href="https://github.com/jumblesale/Phrototype/">About</a></li>
					<li><a href="https://twitter.com/rob_sollars">Twitter</a></li>
					<li><a href="https://github.com/jumblesale">Github</a></li>
				</ul>
			</div>
		</footer>
	</div>
</div>
</body>
</html>
